<div class="container mt-3 bg-light rounded" *ngIf="playersAreLoaded === true && pokemonsAreLoaded === true;else loading">
  <div class="row">

    <div class="col p-2">
      <h3 class="text-center">Top Players</h3>
      <table class="table table-dark rounded">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Score</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let player of top10Players; let index=index">
            <th>{{ index + 1  }}</th>
            <td>{{ player.username }}</td>
            <td>{{ player.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col p-2">
      <h3 class="text-center">Rarest Pokemons</h3>
      <table class="table table-dark rounded">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Pokemon</th>
            <th scope="col">Spotted Count</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let pokemon of rarestPokemons; let index=index">
            <th>{{ index + 1  }}</th>
            <td>{{ pokemon.name }}</td>
            <td>{{ pokemon.spottedCount }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<ng-template #loading>
  <div class="container mt-3">
    <h2 class="text-center">Loading...</h2>
  </div>
</ng-template>