<div class="container mt-3 mb-3">
  <div class="container bg-light border rounded" *ngIf="scoreIsLoaded === true && rankIsLoaded === true;else loading">
    <h2>Stats for <b>{{ username }}</b></h2>
    <h4>Score: {{ score }}</h4>
    <h4>Rank: {{ rank }}</h4>
  </div>

  <ng-template class="container" #loading>
    <h2 class="text-center">Loading...</h2>
  </ng-template>
</div>