<div class="container mt-3">
  <h2 class="text-center">Pokemon Spotter</h2>
  <div class="map-container">
    <div class="border">
      <div id="map">
  
      </div>
    </div>
  </div>
  <label>Click the map to start spotting Pokemons!</label>
</div>